.text{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* MoreCategories.css */

.element-container {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .element-container img {
    transition: transform 0.3s ease;
  }
  
  .element-container:hover {
    transform: scale(1.05);
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  }
  
  .element-container img:hover {
    transform: scale(1.1);
  }
  
  